useDynLib(tensorBSS)
import(JADE)
import(stats)
importFrom(Rcpp, evalCpp)
importFrom(tensor, tensor)
importFrom(tsBSS, gFOBI, gJADE)
importFrom("graphics", "pairs")
export(tensorCentering, tensorStandardize, tensorTransform, tensorVectorize, mModeCovariance, mModeAutoCovariance, tFOBI, tJADE, selectComponents, tSOBI, tgFOBI, tgJADE)
S3method(plot, tbss) 